*{color: aliceblue;}
    
    #contenedor{
        background-image: url(../images/fondo.png);
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
         display: grid;
        grid-template-columns:13.5vw 40vw 45vw;
        grid-template-rows:auto ;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
    }
    #contemedor *{
        margin: 3px;
        color: aliceblue;
    }
    body{margin: 0;}
    #header{
        grid-area: header;
        color:aliceblue;
    }
    #main{
        grid-area: main;
        display: flex;
        justify-content: space-between;
    }
    #footer{
        grid-area: footer;
        display: flex;
        justify-content: space-between;
        border:2px solid white;border-radius:20px;
    }
    /*li{}*/
    a{text-decoration:none;
         
    padding-left: 5px;}
    ul{padding-left: 1%;
       width: max-content;
      padding-right: 10px;
      border:2px solid white;
      border-radius:15px;
     }
      section{
        width: 84%;
      }
      .seguro{
        color: greenyellow;
      }
      .keter{color: red;}
figure{float: right;}
figure img {width: 400px;
}
figcaption{
    border:2px solid white;border-radius:5px;
    
}
footer{width: 100%;}
footer p{
    margin-top:0;
    margin-bottom: 0;
    padding-left: 1%;
    margin-left: 1%;
    margin-right: 1%;
}
#principal{padding-right: 1%;
    padding-left: 1%;
}
header div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/*Intento de poner sombra
h1{
    text-shadow: 0 4 5 3 white;
}*/
aside li:hover{background-color:rgb(170, 172, 170);}
aside a:hover{background-color:rgb(180, 180, 180);}
@media  (max-width: 500px){
    figure{float: none;}
  figure img {
        width: 295px;
      }  
      figcaption{
        width: 295px;}
}
@media  (max-width: 800px){
    
  #main{
      display: block;
  }
#footer {
  display: block;
}
header div{
  display: block;
}
ul{padding-left: 1%;
  width: 100%;
  padding-right: 1%;
  }
#contenedor{
  
  background-image: url(../images/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: grid;
  grid-template-columns: 95vw;
  grid-template-rows: auto;
  grid-template-areas:
      "header"
      "main"
      "footer";
  } 
  section{width: 100%;}
  h1{font-size: 2.5em;}
}
@media (min-width: 801px){
  #main{
      display: flex;
      justify-content: space-evenly;
  } 
   section{
    width: 84%;
  }
  figcaption{
    width: 400px;}
  #contenedor{
      background-image: url(../images/fondo.png);
      background-repeat: no-repeat;
      width: 100%;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
       display: grid;
      grid-template-columns:13.5vw 40vw 45vw;
      grid-template-rows:auto ;
      grid-template-areas: 
      "header header header"
      "main main main"
      "footer footer footer";
  }
  ul{padding-left: 1%;
      width: max-content;
     padding-right: 10px;}
header div{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#footer{
  display: flex;
  justify-content: space-between;}
}