*{list-style: none;
color: aliceblue;}
header{border-bottom: 2px aliceblue;}

#contemedor *{
    margin: 3px;
    color: aliceblue;
}
body{margin: 0;}
#header{
    grid-area: header;
    color:aliceblue;
    
}
#main{
    grid-area: main;
}
#footer{
    grid-area: footer;
}
a{text-decoration:none;
padding-left: 5px;}
ul{padding-left: 0;
  padding-right: 10px;}

  #footer{
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    border:2px solid white;border-radius:20px;
}
/*li{}*/
a{text-decoration:none;
     
padding-left: 5px;}
ul{padding-left: 1%;
   width: max-content;
  padding-right: 10px;
  border:2px solid white;
  border-radius:15px;
 }

footer{width: 100%;}
footer p{
margin-top:0;
margin-bottom: 0;
padding-left: 1%;
margin-left: 1%;
margin-right: 2%;
}
#principal{padding-right: 1%;
padding-left: 1%;
}
/*Intento de poner sombra
h1{
text-shadow: 0 4 5 3 white;
}*/
aside li:hover{background-color:rgb(170, 172, 170);}
aside a:hover{background-color:rgb(180, 180, 180);}
video{
  width: 100%;
  height: min-content;
}
audio{
  width: 100%;
}
@media  (max-width: 700px){
  

  figcaption{width: 200px;}
  #main{
      display: block;
  }
#footer {
  display: block;
}
header div{
  display: block;
}
ul{padding-left: 1%;
  width: 100%;
  padding-right: 1%;
  }
#contenedor{
  
  background-image: url(../images/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: grid;
  grid-template-columns: 95vw;
  grid-template-rows: auto;
  grid-template-areas:
      "header"
      "main"
      "footer";
  } 
  section{width: 100%;}
  h1{font-size: 2.5em;}
}
@media (min-width: 701px){
  #main{
      display: flex;
      justify-content: space-evenly;
  } 
   section{
    width: 84%;
  }
  #contenedor{
      background-image: url(../images/fondo.png);
      background-repeat: no-repeat;
      width: 100%;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
       display: grid;
      grid-template-columns:13.5vw 40vw 45vw;
      grid-template-rows:auto ;
      grid-template-areas: 
      "header header header"
      "main main main"
      "footer footer footer";
  }
  ul{padding-left: 1%;
      width: max-content;
     padding-right: 10px;}
header div{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#footer{
  display: flex;
  justify-content: space-between;}
}